.header {
  font-family: 'Patrick Hand', cursive;
    text-align: center;
}
h1 {
  font-size: 3em;
  margin: 0;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #666;
  margin: 0;
}
.content{
        display: grid;
        font-size: 0;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        margin-top: 10px;
        grid-gap: 20px 22px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 1400px;
        padding: 0 25px;
        width: 100%;
        transition: box-shadow 0.3s ease;
        width: fit-content;
        border-radius: 18px;
        }
.game:hover {
    border-radius: 18px;
            box-shadow: 0 8px 24px rgba(0,0,0,0.18), 0 1.5px 4px rgba(0,0,0,0.12);
            transform: scale(1.05);
}
#game_1, #game_2 {
    overflow: hidden;
    width: 285px;
    height: 105px;
    object-fit: cover;
    border-radius:18px ;
}

.footer {
    text-align: center;
    font-size: 0.9em;
    padding: 10px 5px;

  }
.footer a {
    color: #333;
    text-decoration: none;


}
